body {
    background-color: rgb(247, 235, 235);
    font-family: 'Ibarra Real Nova';
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}

#search-bar {
    font-family: 'Ibarra Real Nova';
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    font-size: large;
    text-align: center;
}

.dropdown-content a {
    display: block
}

#search-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-sections div {
    background-color: rgb(5, 5, 156);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 10%;
    margin: 3%
}

#search-sections a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#add-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#add-section div {
    width: 100%;
}

h1, h3 {
    text-align: center;
}

.form-field {
    display: inline-block
}

label {
    display: block;
}

#instrumentation {
    height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}

#genre-fieldset {
    height: 100px;
    overflow-y: auto;
    scrollbar-width: thin;
}